body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-image: url('background-image.png');
}

.container {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    margin-bottom: 20px;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.timer-container {
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}


button:hover {
    background-color: #300202;
}

a {
    text-decoration: none;
}